body{

margin:0;
font-family:Arial;
background:linear-gradient(120deg,#89f7fe,#66a6ff);
}


header{

display:flex;
align-items:center;
justify-content:space-between;
padding:10px;
background:#2c3e50;
color:white;
}


#menuBtn{

font-size:22px;
background:none;
border:none;
color:white;
}


#searchBox{

padding:5px;
border-radius:5px;
border:none;
}


#menu{

display:none;
background:#34495e;
padding:10px;
}


#menu a{

display:block;
color:white;
padding:8px;
text-decoration:none;
}


.container{

padding:15px;
background:white;
margin:15px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.2);

}


input,textarea{

width:100%;
margin-top:10px;
padding:10px;
border-radius:6px;
border:1px solid #ccc;

}


button{

margin-top:10px;
padding:10px;
background:#27ae60;
border:none;
color:white;
border-radius:6px;

}


#notesContainer{

padding:15px;

}


.note{

background:white;
margin-bottom:10px;
padding:10px;
border-radius:10px;
box-shadow:0 3px 8px rgba(0,0,0,0.2);

}


.deleteBtn{

background:red;
margin-top:5px;

}


footer{

text-align:center;
padding:15px;
color:white;

  }
